twig:
    default_path: '%kernel.project_dir%/templates'
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'
    globals:
        github_url: https://github.com/allejo/postgame
        google_analytics_id: '%env(GOOGLE_ANALYTICS_ID)%'
