<footer class="border-t mt-3 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-left">
                Copyright &copy; {{ 'now' | date('Y') }}
            </div>

            <div class="col-md-6 text-center text-md-right">
                <ul class="m-0 p-0">
                    <li class="list-inline-item">
                        <a href="http://github.com/allejo">@allejo</a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://bzflag.org">BZFlag</a>
                    </li>

                    <li class="list-inline-item">
                        <a href="https://github.com/allejo/postgame">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
