<header class="site-header-wrapper">
    <div class="container">
        <div class="site-header">
            <div class="site-header__brand">
                <a href="{{ url('index') }}">
                    Post Game
                </a>
            </div>

            <button id="menu-toggle"
                    class="c-hamburger c-hamburger--htx"
                    aria-expanded="false"
                    aria-controls="navigation"
            >
                <span></span>
                <span class="sr-only">Mobile menu</span>
            </button>

            <nav class="site-navigation">
                <ul id="navigation" class="site-navigation__links">
{#                    <li class="site-search">#}
{#                        <form#}
{#                            class="site-search__form"#}
{#                            action="#"#}
{#                            method="get"#}
{#                        >#}
{#                            <label for="global-search" class="site-search__label">#}
{#                                <img#}
{#                                    src="{{ asset('build/images/magnifying-glass.svg') }}"#}
{#                                    alt="Search icon"#}
{#                                    class="site-search__icon"#}
{#                                    aria-hidden="true"#}
{#                                >#}
{#                                <span class="sr-only">Search Site</span>#}
{#                            </label>#}

{#                            <input#}
{#                                type="text"#}
{#                                name="query"#}
{#                                id="global-search"#}
{#                                class="site-search__input"#}
{#                                autocomplete="off"#}
{#                                placeholder="Search terms..."#}
{#                            >#}
{#                        </form>#}
{#                    </li>#}

                    <li>
                        <a href="{{ url('replay_list') }}">
                            Replays
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
