.score-card {
    align-items: center;
    display: flex;
}

.score-card--compact {
    font-size: 1rem;
}

.team-card {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    text-align: center;

    &:nth-of-type(even) {
        .team-card__profile {
            order: 2;
        }
    }
}

.team-card__profile {
    flex: 1;
}

.team-card__name,
.team-card__score {
    @include padding(x, 3);
}

.team-card__icon {
    img {
        @include margin(x, auto);
        @include margin(b, 2);

        display: block;
        height: 60px;
        width: 60px;

        @include respond-up(md) {
            height: 100px;
            width: 100px;
        }
    }
}

.team-card__name {
}

.team-card__score {
    @include font-size(h3);
}
