{% macro team_card(team, score) %}
    {%- set team_str = team | team_literal -%}

    <div class="team-card col-12 col-md-6">
        <div class="team-card__icon">
            <img
                src="{{ asset('build/images/team_' ~ (team_str | lower) ~ '.png') }}"
                alt="{{ team_str | title }} team icon"
            >
        </div>
        <div class="team-card__name">
            {{ team_str | title }} Team
        </div>
        <div class="team-card__score">
            {{ score }}
        </div>
    </div>
{% endmacro %}
